<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,json,lcov</Format>
          <Include>[Cleo.*]*</Include>
          <Exclude>[xunit.*]*,[*Tests]*</Exclude>
          <IncludeTestProjects>false</IncludeTestProjects>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
